*,
*:before,
*:after {
    list-style: none;
    box-sizing: border-box;
    /* margin: 0rem; */
}

/* estandarizar tamaño letra */

html{
    font-size: 62.5%;
}

/* Quitar borde a boton

border:none; */

